.box3 {
    width: 100%;
    height: auto;
    /* 留出 box4 的空間 */
    background-color: white;
}

.box4 {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
}



.box4.expanded {
    height: 80%;
    align-items: center;
    justify-content: center;
}

#popup-content {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    width: calc(100% - 20px); /* 減去左右邊距 */
    height: calc(100% - 20px); /* 減去上下邊距 */
    box-sizing: border-box; /* 包括邊框和內邊距在內 */
    display: flex;
    /* 使用 flex 佈局 */
    flex-direction: column; /* 垂直排列 */
    /*overflow-x: auto;*/
    /* 讓內容超出時可橫向滾動 */
}

#restaurant-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    height: auto;
    /* 每個餐廳資訊之間的間距 */
}

/* 每個餐廳的樣式 */
.restaurant {
    margin: 10px; /* 每個餐廳之間的間距 */
    text-align: center; /* 讓圖片和文字居中 */
}

.box4-header {
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box4-header .toggle-text {
    margin-right: 20px;
    /* 為箭頭留出空間 */
}

.box4-header::after {
    content: "▲";
    /* 下箭頭 */
    transition: transform 0.3s ease;
}

.box4.expanded .box4-header::after {
    transform: rotate(180deg);
    /* 展開時旋轉箭頭 */
}

.clear-btn{
    
    text-align: right;
}
