.restaurant-section {
    display: none;
}
.active-restaurant {
    display: block;
}
.nav-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button:hover {
    background-color: #45a049;
}

/* CSS for image slider */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides img {
    width: 100%; /* 設定圖片寬度為100% */
    height: 200px; /* 固定圖片高度 */
    object-fit: cover; /* 圖片的大小會根據容器大小進行調整，保持內容不被拉伸 */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.info {
    margin: 0 auto;
}

.restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin:10px 0px;
}

.star-rating {
    margin-top: 5px;
}

.star-rating img {
    height: 20px; /* 設定統一的高度 */
    vertical-align: middle; /* 對齊方式 */
}

.vibe-tags, .food-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* 控制標籤間距 */
    margin: 10px 0;
    font-size: 15px;
    font-weight: normal;
}

.vibe-tags .restaurant-tag {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.price-tag {
    font-weight: bold;
    color: #555;
}

.gallery-container {
    margin: 20px 0;
}